<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.techacademy.eri.takashima.eritshoulderforat">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ERIT Shoulder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondLayerOne" />
        <activity android:name=".SecondLayerTwo" />
        <activity android:name=".SecondLayerThree" />
        <activity android:name=".ThirdLayerOne" />
        <activity android:name=".ThirdLayerTwo" />
        <activity android:name=".ThirdLayerThree" />
        <activity android:name=".ResultOne" />
        <activity android:name=".FourthLayerOne" />
        <activity android:name=".ResultTwo" />
        <activity android:name=".FourthLayerTwo" />
        <activity android:name=".ResultThree" />
        <activity android:name=".ResultFour" />
        <activity android:name=".Doctor" />
        <activity android:name=".ResultFive" />
        <activity android:name=".FifthLayerOne" />
        <activity android:name=".ResultSix" />
        <activity android:name=".RehabResultOneFirst" />
        <activity android:name=".RehabResultTwoFirst" />
        <activity android:name=".RehabResultThreeFirst" />
        <activity android:name=".RehabResultFourFirst" />
        <activity android:name=".RehabResultFiveFirst" />
        <activity android:name=".RehabResultOneSecond" />
        <activity android:name=".RehabResultTwoSecond" />
        <activity android:name=".RehabResultThreeSecond" />
        <activity android:name=".RehabResultFourSecond" />
        <activity android:name=".RehabResultFiveSecond"></activity>
    </application>

</manifest>